*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  /*background: url(//background.jpg) no-repeat center center fixed;
  background-size: cover;*/
  margin: 0px;
}
main{
 padding: 10px 20px;
}
main::after {
 content: '';
 display: table;
 clear: both;
}
.col-left {
  width: 70%;
  float: left;
  /*border: 1px red solid;*/
  min-height: 500px;
}
.col-right {
  width: 29%;
  min-height: 600px;
  margin-top: 13px;
  float: right;
  border: 1px lightgrey solid;
  border-radius: 12px;
  /*background-color: grey;*/
}
a, h1, h2 {
  color: #377ba8;
}
h1, h2 {
  font-family: 'Georgia', serif;
  margin: 0;
}
h1 {
  border-bottom: 2px solid #eee;
}
h2 {
  font-size: 1.6em;
}

.page {
  margin: 0px auto;
  width: auto;
  /*border: 5px solid #ccc;*/
  /*padding: 0.8em;*/
  background: #FFF;
}
.entries {
  list-style: none;
  margin: 0;
  padding: 0;
}
.entries > li {
  margin: 0 1em 1.8em;
  border-bottom: 1px solid grey;
  padding: 15px;
}
.entries > li h2 {
  margin-left: -1em;
}
.add-entry {
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
}
.add-entry dl {
  font-weight: bold;
}
.metanav {
  padding: 0.4em;
  margin-bottom: 0.5em;
  background: url(background.jpg) no-repeat center center fixed;
  height: 240px;
  background-size: cover;
}
.login {
  height: 10px;
  text-align: right;
  margin-right: 10px;
  margin-top: 15px;
}
.login a {
  text-decoration: none;
  color: white;
}
.logo {
  padding-left: 35px;
}
.flash {
  background: #cee5F5;
  padding: 0.5em;
  border: 1px solid #aacbe2;
}
.error {
  background: #f0d6d6;
  padding: 0.5em;
}

ul.hr {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}
ul.hr li {
  display: inline-block; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
}
.date {
  font-size: 0.7em;
  text-align: left;
  color: grey;

}
.footer {
  clear: left;
  padding: 10px 0;
  background-color: #CCC49F;
}
.picture {
  margin: 7px 12px 7px 0px; /* Отступы вокруг картинки */
  text-align: left;
  float: left;
}
.rules {
  margin: 0px 40px ; /* Отступы вокруг текста */
}
.title {
  font-family: 'sans-serif';
  color: white;
  text-decoration: none;
  font-size: 2em;
  padding-left: 30px;
}
/* pagination */
div.pagination {
  margin: 0 0 10px 0;
  text-align: center;
}
div.pagination strong {
  font-weight: normal;
  font-style: italic;
}
.menu {/*++**/
  position: relative;

  background:rgba(106, 134, 28, 0.45);
  height: 40px;
  margin: -50px 0;
  padding: 0;
  float: left;
  width: 100%;
  z-index: 10;
}
.menu ul {/*++*/
  clear: left;
  position: relative;
  right: 50%;
  height: 40px;
  float: right;
  text-align: center;
  font: 15px Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 2px black, 0 0 2em #f5f4ef;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu > ul > li {/*++*/
  position: relative;
  left: 50%;
  float: left;
  height: 40px;
  padding: 0;
  margin: 0
}
.menu > ul > li > a {/*++*/
  border-left: 1px solid #666;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  line-height: 40px;
}
.menu > ul > li:first-child > a {/*++*/
  border: none;
}
.menu > ul > li:hover > a, .menu > ul > li.hover > a, .menu > ul > li.active > a {
  color: #fff
}
.menu > ul > li:hover, .menu > ul > li.hover, .menu > ul > li.active  {/*++*/
  /*background: #666;*/
  text-shadow: 1px 1px 2px #dc6009, 0 0 2em #dc6009;
}
.menu ul li ul {/*++*/
  position: absolute;
  left: 0;
  top: 40px;
  display: none;
  list-style: none;
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 200px
}
.menu > ul > li ul li {/*++*/
  background-color: rgba(74, 96, 13, 0.82);
  position: relative;
  left: 0;
  display: list-item;
  float: none;
  height: auto;
  margin: 0;
  text-align: left;
}
.menu ul li ul li a {/*++*/
  border-bottom: 1px solid #999;
  display: block;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
}
.menu ul li ul li.parent a {/*++*/
  position: relative;
}
.menu ul li ul > li.parent > a::before {/*++*/
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  height: 6px;
  width: 6px;
}
.menu ul li ul li:hover, .menu ul li ul li.hover {
  /*background-color: #444*/
  text-shadow: 1px 1px 2px #dc6009, 0 0 2em #dc6009;
}
.menu ul li:hover ul, .menu ul li.hover ul {
display: block
}
.menu ul li:hover > ul {
opacity: 1;
visibility: visible;
margin: 0;
}
.menu ul li ul li ul {
top: 0;
left: 200px;
margin: 0 0 0 20px;
width: 180px
}
.adv-1 {
  margin: 10px 7px 15px;
  height: 250px;


}
.adv-2 {

  height: 350px;
  margin: 10px 7px 15px;

}

.baner {

}
.entres-h2 {
  text-align: left;
  font-weight: 300;
  padding: 10px 0 2px 27px;
  font-family: sans-serif;
}
.entries li p {
  padding-top: 5px;
}
.twix {
  padding: 0px;
  margin-left: 240px;
  margin-top: 15px;
}
table {
  margin: 10px 5px 10px 45px;
  padding: 7px;
  /*border: 1px solid grey;*/
  text-decoration: none;
  border-collapse: collapse;
}
th {
  font-size: 1.2em;
}
tr th {
  text-align: center;
  /*background: lightgreen;*/
  border-bottom: 1px solid grey;

}
tr {
  height: 30px;


}
td {

}
td a {
  text-decoration: none;
}
.td-position {
  width: 40px;
  text-align: right;
  padding-right: 12px;
}
.td-player {
  width: 320px;
  text-align: left;
  /*padding-right: 12px;*/
}
.td-rating {
  width: 65px;
  text-align: center;;
  /*padding-right: 12px;*/
}
tr:nth-child(even) {
  background: rgba(217, 241, 140, 0.68);
}
tbody tr:hover {
    color: white;
    background: #729219;
    font-size: 1.1em;
}
tr:hover a {
    color: white;
    font-size: 1.1em;
}

.rounded {
        counter-reset: li;
        list-style: none;
        font: 28px "Trebuchet MS", "Lucida Sans";
        padding: 0;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }
.rounded a {
            position: relative;
            display: block;
            padding: .4em .4em .4em 2em;
            margin: .5em 0 0 2em;
            background: #DAD2CA;
            color: #444;
            text-decoration: none;
            border-radius: .3em;
            transition: .3s ease-out;
            }
.rounded a:hover {
                    background: #E9E4E0;
                    }
.rounded a:hover:before {
                        transform: rotate(360deg);
                        }
.rounded a:before {
                    content: counter(li);
                    counter-increment: li;
                    position: absolute;
                    left: -1.3em;
                    top: 50%;
                    margin-top: -1.3em;
                    background: #8FD4C1;
                    height: 2em;
                    width: 2em;
                    line-height: 2em;
                    border: .3em solid white;
                    text-align: center;
                    font-weight: bold;
                    border-radius: 2em;
                    transition: all .3s ease-out;
                    }