<!doctype html>

<title>ЧТК</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <div class=metanav>

        <div align="left"> <a href="/"> <img src="{{ url_for('static', filename='logo2.png') }}" width="150" align="middle" ></a>
            <a href="/" class="title"><b>Черкасский Теннисный Клуб</b> </a>
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}"><input type="image" src="/static/login_button.png" width="45" align="right"></a>
            {% else %}
                <a href="{{ url_for('logout') }}"><input type="image" src="/static/logout_button.png" width="45" align="right"></a>
            {% endif %}
        </div>
    </div>

    <div class="menu">
    <ul>
        <li><a href="#">Рейтинг</a>
            <ul>
                {% for i in range(2016, 2018) %}
                    <li><a href="/rating/{{ i }}/"> Рейтинг {{ i }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Результаты турниров </a>
            <ul>
                {% for year in range(2016, 2018) %}
                <li><a href="#">Результаты турниров {{ year }}  </a>
                    <ul>
                        {% if year == 2017 %}
                        {% for i in range(1, len_2017 + 1) %}
                            <li>
                                <a href="/{{ year }}/{{ i }}/"> Турнир {{ i }}</a>
                            </li>
                        {% endfor %}
                        {% endif %}
                        {% if year == 2016 %}
                        {% for i in range(1, len_2016+1) %}
                            <li>
                                <a href="/{{ year }}/{{ i }}/"> Турнир {{ i }}</a>
                            </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="/rules/">Правила</a>
        </li>
        <li>
            <a href="/contacts/">Контакты</a>
        </li>
        {% if session.logged_in %}
        <li><a href="/admin/">Админка</a>
        </li>
        {% endif %}
    </ul>
    </div>

  {% block body %}{% endblock %}


<div class="footer"><h2 align="center">Черкасский Теннисный Клуб</h2><hr>
<div align="center"> Дизайнер и программист - <b>Левченко Роман</b></div></div>
</div>
