<!doctype html>
<html>
	<head>
    <title>ЧТК</title>
    <meta charset="utf-8">
    <meta description="#" keywords="#">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style_temp.css') }}">
  </head>
  <body>
    <div class="page">
			<header>
			  <div class="metanav">
            <div class="login">
                {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">Вход</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Выход</a>
                {% endif %}
            </div>
            <div class="logo" align="left">
							<a href="/"> <img src="{{ url_for('static', filename='logo2_copy.png') }}" width="150" align="middle" ></a>
              <a href="/" class="title"><b>Черкасский Теннисный Клуб</b> </a>
						</div>
        </div>
    <div class="menu">
    <ul>
        <li><a href="#">Рейтинг</a>
            <ul>
                {% for i in range(2016, 2018) %}
                    <li><a href="/rating/{{ i }}/"> Рейтинг {{ i }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Результаты турниров </a>
            <ul>
                {% for year in range(2016, 2018) %}
                <li><a href="#">Результаты турниров {{ year }}  </a>
                    <ul>
                        {% if year == 2017 %}
                        {% for i in range(1, len_2017 + 1) %}
                            <li>
                                <a href="/{{ year }}/{{ i }}/"> Турнир {{ i }}</a>
                            </li>
                        {% endfor %}
                        {% endif %}
                        {% if year == 2016 %}
                        {% for i in range(1, len_2016+1) %}
                            <li>
                                <a href="/{{ year }}/{{ i }}/"> Турнир {{ i }}</a>
                            </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <a href="/rules/">Правила</a>
        </li>
        <li>
            <a href="/contacts/">Контакты</a>
        </li>
        {% if session.logged_in %}
        <li><a href="/admin/">Админка</a>
        </li>
        {% endif %}
    </ul>
    </div>
            </header>
  {% block body %}{% endblock %}


<div class="footer"><h2 align="center">Черкасский Теннисный Клуб</h2><hr>
<div align="center"> Дизайнер и программист - <b>Левченко Роман</b></div></div>
</div>
  </body>
</html>