<!doctype html>

<title>ЧТК</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <div class=metanav>

        <div align="left"> <a href="/"> <img src="{{ url_for('static', filename='logo2.png') }}" width="150" align="middle" ></a>
            <a href="/" class="title"><b>Черкасский Теннисный Клуб</b></a>
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}"><input type="image" src="/static/login_button.png" width="45" align="right"></a>
            {% else %}
                <a href="{{ url_for('logout') }}"><input type="image" src="/static/logout_button.png" width="45" align="right"></a>
            {% endif %}
        </div>
    </div>

  <div class=metanav>
      <center>
          <ul class="hr">
              <li><form method="post" name="drop_down_box">
                    <select name="menu" size="1" onchange="top.location=this.value">
                        <option value="Рейтинг">Рейтинг</option>
                        {% for i in range(2016, 2018) %}
                        <option value="/rating/{{ i }}/"> Рейтинг {{ i }}</option>
                        {% endfor %}
                    </select></form></li>
              <li><form method="post" name="drop_down_box">
                    <select name="menu" size="1" onchange="top.location=this.value">
                        <option value="Результат турнира">Турниры 2016</option>
                        {% for i in range(1, 21) %}
                        <option value="/tour/{{ i }}/"> Турнир {{ i }}</option>
                        {% endfor %}
                    </select></form></li>
              <li><form method="post" name="drop_down_box">
                    <select name="menu" size="1" onchange="top.location=this.value">
                        <option value="Игроки" >Игроки ЧТК 2016</option>
                        {% for player in players %}
                        <option value="/player/{{player.id}}/"> {{ player.player_surname }} {{ player.player_name}}</option>
                        {% endfor %}
                    </select></form></li>
              <li><form action="/rules/"><input type="submit" value="Правила"></form></li>
              <li><form action="/contacts/"><input type="submit" value="Контакты"></form></li>
              {% if session.logged_in %}<li><form action="/admin/"><input type="submit" value="Админка"></form></li>{% endif %}
          </ul>
      </center>
  </div>

  {% block body %}{% endblock %}


<div class="footer"><h2 align="center">Черкасский Теннисный Клуб</h2><hr>
<div align="center"> Дизайнер и программист - <b>Левченко Роман</b></div></div>
</div>
