{% extends "base.html" %}
{% block body %}
    <ul class=entries>
        <li>
        <table border="3" class="table_coaches">
            <thead>
            <tr>
                <th>Фото</th>
                <th>ФИО</th>
                <th>Телефоны</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            {% for coac in coach %}
            <tr>

                {% if coac.path_photo %}
                <td class="td-picture"><img src="/static/files/{{ coac.path_photo }}" width="200" class="picture_right"></td>
                {% else %}
                <td class="td-picture"><img src="/static/players/no_photo.jpg" width="200" class="picture_right"></td>
                {% endif %}
                <td class="td-court">{{ coac.name }} {{ coac.surname }}</td>
                <td class="td-phone">{{ coac.phones }}</td>
                <td class="td-description">{{ coac.description}}</td>
            </tr>
            {% endfor %}
            </tbody>
      </table>
                    <div style="clear:both;"></div>
      </li>
</ul>
{% endblock %}
