{% extends "base.html" %}
{% block body %}
  <div class="container-coaches">
    <h1>Наши тренера</h1>
    <div class="coaches-row">
      {% for coac in coach %}
        <div class="coaches-item">
          {% if coac.path_photo %}
            <img src="/static/files/{{ coac.path_photo }}" width="170px" class="coaches-img">
          {% else %}
            <img src="/static/players/no_photo.jpg" width="170px" class="coaches-img">
          {% endif %}
          <div class="coaches-block">
            <h2 class="coaches-name">{{ coac.name }} {{ coac.surname }}</h2>
            <p><a href="tel:{{ coac.phones }}">{{ coac.phones }}</a></p>
            <p>{{ coac.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
