{% extends "base.html" %}
{% block body %}

    {% for coac in coach %}
    <ul class=entries>

        <li>
            <h2 class="entres-h2">{{ coac.name }} {{ coac.surname }} </h2>
            {% if coac.path_photo %}
            <img src="/static/files/{{ coac.path_photo }}" width="200" align="right" class="picture"><p>
            {% endif %}
        <table border="3">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Телефоны</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody style="background-color: green; color:white;">
            <tr>
                <td class="td-court">{{ coac.name }} {{ coac.surname }}</td>
                <td class="td-court">{{ coac.phones }}</td>
                <td class="td-court">{{ coac.description}}</td>
            </tr>
            </tbody>
      </table>
                    <div style="clear:both;"></div>
      </li>

</ul>
    {% endfor %}

{% endblock %}
