{% extends "base.html" %}
{% block body %}

  <p><strong>РУКОВОДСТВО:</strong><br><hr>
    <br>
  </p>
  <ul>
    <li><em>Президент</em><br>
    Шидловский Геннадий</li>
    <br>
    <li><em>Глава наблюдательного совета</em><br>
    Левченко Роман</li>
  </ul>
  <p>&nbsp;</p>
  <p><strong>НАБЛЮДАТЕЛЬНЫЙ СОВЕТ:</strong><br><hr>
  </p>
  <ul>
    <li>Вишняков Сергей</li>
    <li>Гвоздик Артем</li>
    <li>Гавриш Александр</li>
    <li>Лыннык Анатолий</li>
    <li>Гончаренко Юрий</li>
  </ul>
  <p><strong>ПЕРСОНАЛ:</strong><br><hr>
  </p><ul>
    <li><em>Главные судьи:</em><br>
      Гавриш Александр</li><br>
    <li><em>Оператор, администратор</em><br>
      Левченко Роман</li>
    <br>
    <li><em>Фотограф, программист</em><br>
      Левченко Роман</li>
  </ul>
  <br>

{% endblock %}