{% extends "base.html" %}
{% block body %}


  <ul class=entries>
    {% for cour in court %}
      <li>
        {% if current_court == cour.name %}
                {% if cour.path_hoto %}
                    <h2 class="entres-h2">{{ cour.name }} </h2>
                    <img src="/static/files/{{ cour.path_hoto }}" width="500" align="right" class="picture"><p>
        <table border="3">
            <thead>
            <tr>
                <th>Адресс</th>
                <th>Телефоны</th>
                <th>Тип</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ cour.adress }}</td>
                <td>{{ cour.phones }}</td>
                <td>{{ cour.type}}</td>
                <td>{{ cour.description}}</td>
            </tr>
            </tbody>
      </table>
                    <div style="clear:both;"></div>
                {% else %}
                    <h2 class="entres-h2">{{ cour.name }} </h2><br>
        <table border="2">
            <thead>
            <tr>
                <th>Адресс</th>
                <th>Телефоны</th>
                <th>Тип</th>
                <th>Описание</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ cour.adress }}</td>
                <td>{{ cour.phones }}</td>
                <td>{{ cour.type}}</td>
                <td>{{ cour.description}}</td>
            </tr>
            </tbody>
      </table>
                {% endif %}
          {% endif %}
      </li>
  </ul>
    {% endfor %}





{% endblock %}