{% extends "base.html" %}

{% block body %}
<body>
<div class="header">
    <div class=flash align="center">ИГРОК</div>
        {% for player in players %}
            {% if player.id == player_id %}
                <h1 align="center">{{ player.player_surname }} {{ player.player_name }} </h1>
                <h1 align="center"> № {{ list_of_player[5] }}</h1>
                {% if player.path_photo %}
                <div align="center"> <img src="/{{ player.path_photo }}" width="200" class="picture"></div>
                {% else %}
                    <div align="center"> <img src="/static/players/no_photo.jpg" width="200" class="picture"></div>
                {% endif %}
                <h2 align="center">  Сыграно {{ list_of_player[1] }} турниров</h2><br>
                 <h2 align="center">{% if list_of_player[2] %} <img src="/static/gold.png" width="35" align="middle"> -  {{ list_of_player[2] }} {% endif %}
                 {% if list_of_player[3] %}<img src="/static/silver.png" width="35" align="middle"> -  {{ list_of_player[3] }} {% endif %}
                 {% if list_of_player[4] %}<img src="/static/bronze.png" width="35" align="middle"> -  {{ list_of_player[4] }} {% endif %} </h2>

                    {% if session.logged_in %}
                        {% if not player.path_photo %}
                        <form action="{{ url_for('add_photo') }}" method=post class=add-entry enctype=multipart/form-data>
                          <dl>
                            <dt>Images:
                            <dd><input type=file name=file>
                            <dd><input type=submit value=Share>
                              <dt>{{player.id}}
                            <dd><input type=text size=2 name=title>
                          </dl>
                        </form>
                       {% endif %}
                    {% endif %}



            {% endif %}


        {% endfor %}

</div>
</body>
{% endblock %}