{% extends "base.html" %}

  {% block body %}
	  <section>
      <h2 class="entres-h2">Парный рейтинг {{year}}</h2>
      <div>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Игрок</th>
              <th>Балы</th>
            </tr>
          </thead>
          <tbody>
        {% for key, el in peremen.items() %}
            {% if el['Очки'] != 0 %}
            <tr>
                {% set a,b = el['Фамилия'].split() %}
                {% for player in players %}
                {% if a == player.player_surname and b == player.player_name %}
            <td class="td-position">{{ key }}</td>
            <td class="td-player">
              <a href="/player/{{ year }}/{{ player.id }}/">{{ el['Фамилия'] }}</a>
            </td>
            <td class="td-rating">{{ el['Очки'] }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
            </div>
        </section>



{% endblock %}
