{% extends "base.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry enctype=multipart/form-data>
      <dl>
        <dt>Tournament File
        <dd><input type=file name=tour>
        <dt>Images:
        <dd><input type=file name=file>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}

  <ul class=entries>
    {% for entry in entries %}
      <li><div class="date" align="right"> {{ entry.date_of_article }}</div>

    {% if entry.images %}
        <img src="{{ entry.images }}" width="200" align="right" class="picture"><h2 align="center">{{ entry.title }} </h2><br>{{ entry.text|safe }} {% if entry.tour %}<a href="{{ entry.tour }}">ГРУППЫ И РАСПИСАНИЕ</a>{% endif %}
        <div style="clear:both;"></div>
    {% else %}
        <h2 align="center">{{ entry.title }} </h2><br>
        {{ entry.text|safe }} {% if entry.tour %}<a href="{{ entry.tour }}">ГРУППЫ И РАСПИСАНИЕ</a>{% endif %}
    {% endif %}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  </ul>

  {% endfor %}

<div class="footer"><h2 align="center">Черкасский Теннисный Клуб</h2><hr>
  <div align="center"> Дизайнер и программист - <b>Левченко Роман</b></div>
</div>
{% endblock %}
