{% extends "base.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry enctype=multipart/form-data>
      <dl>
        <dt>Tournament File
        <dd><input type=file name=tour>
        <dt>Images:
        <dd><input type=file name=file>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
    {% for entry in pagination.items %}
      <li><div class="date" align="right"> {{ entry.date_of_article }}</div>

                {% if entry.images %}
                    <img src="/{{ entry.images }}" width="200" align="right" class="picture"><h2 align="center">{{ entry.title }} </h2><br>{{ entry.text|safe }} {% if entry.tour %}<a href="/{{ entry.tour }}">ФАЙЛЫ ДЛЯ СКАЧКИ</a>{% endif %}
                    <div style="clear:both;"></div>
                {% else %}
                    <h2 align="center">{{ entry.title }} </h2><br>
                    {{ entry.text|safe }} {% if entry.tour %}<a href="/{{ entry.tour }}">ФАЙЛЫ ДЛЯ СКАЧКИ</a>{% endif %}
                {% endif %}
      </li>
  {% else %}
      <li><em>Unbelievable.  No entries here so far</em></li>
  </ul>
    {% endfor %}


<div class=pagination>
{% if pagination.has_prev -%}<a href="{{ url_for('show_entries', page = pagination.prev_num) }}">&laquo; Prev</a>{%- else -%}<span class=disabled>&laquo; Prev</span>{% endif %}{#
  #} <strong>{{ pagination.page }}</strong> {#
  #}
{% if pagination.has_next %}<a href="{{ url_for('show_entries', page = pagination.next_num) }}">Next &raquo;</a>{% else %}<span class=disabled>Next &raquo;</span>{% endif %}
</div>
<p>
    <div id="chatovod230291">
    <script type="text/javascript">(function() {var po = document.createElement('script');po.type = 'text/javascript'; po.charset = "UTF-8"; po.async = true;po.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//chtk.chatovod.ru/widget.js?height=250&divId=chatovod230291';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(po, s);})();</script>
    </div>
</p>
{% endblock %}
