{% extends "base.html" %}

{% block body %}
<body>
<div class="header">
    <div class=flash align="center">Результаты турнира {% if year == 2016 %}{{ date_2016 }}{% endif %}{% if year == 2017 %}{{ date_2017 }}{% endif %}</div>
            <table border="1" align="center">
                {% for el in num_tour %}
                <tr>
                    {% for player in players %}
                    {% if player.player_surname == el[1][0] and player.player_name == el[1][1] %}
                    <td> <a href="/player/{{ year }}/{{ player.id }}/">{{el[1][0]}} {{ el[1][1] }}</a></td><td> {{ el[0] }} </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
</div>
</body>
{% endblock %}